
@font-face {
        font-family: 'vacation_vibesregular';
        src: url('./resources/fonts/vacationvibes-webfont.woff2') format('woff2'),
             url('./resources/fonts/vacationvibes-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
/* Vacation Vibes handwritten font by Beveled Design Co (https://www.beveled.design/) free for personnal use  */
@font-face {
        font-family: 'klemer_display_demoregular';
        src: url('./resources/fonts/klemerdisplaydemoregular-ax5qg-webfont.woff2') format('woff2'),
             url('./resources/fonts/klemerdisplaydemoregular-ax5qg-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        line-height:0.9;
    }
/* Klemer Display font (demo version) by Prioritype (https://www.fontspace.com/prioritype) free for personnal use  */

@font-face {
        font-family: 'andersregular';
        src: url('./resources/fonts/anders-webfont.woff2') format('woff2'),
             url('./resources/fonts/anders-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}
/* Anders font by Tom Anders Watkins (https://www.behance.net/tomanders) free via https://www.behance.net/gallery/18068463/Anders-(Free-Font)  */

body{
    --background-color: #171717;
    --dark-grey:#262626;
    --black:#010101;
    --pastel-green:rgb(168, 204, 72);
    --white:#fafafa;
    --medium-green:#74ce5e;
    --yellow:#ddd549;
    --red:#cb523c;
    --blue:#1c2edc;
    --light-grey:#dddddd;

    margin: 0;
    padding:0;
    background:var(--background-color);
    color:var(--background-color);
    font-family:Helvetica, sans-serif;
}
h1{
    color:var(--white);
    display:block;
}
header{
    height:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2vh 10vw;
}
header button{
    font-family: inherit;
    color:var(--white);
    font-weight: 600;
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:fit-content;
    padding:13px;
    border-radius: 30px;
    background-color: var(--blue);
    box-shadow: -2px 3px  var(--yellow);
    border: none;
}

header button:hover{
    transform:translateX(-2px) translateY(3px);
    box-shadow: none;
}

.header-buttons{
    display:flex;
    gap:10px;
    align-items: flex-start;
}
form{
    padding:20px;
    display:grid;
    justify-content: center;
    justify-items: end;
    gap:10px;
    background-color: var(--white);
    width:max-content;
    border-radius:20px;
}

form input{
    width:25ch;
}
form button{
    width:90px;
}


.library-container{
    
    max-height: 1000px;
    max-width:800px; 
    margin:0 20vw;
    transform:rotateZ(30deg);

    /* Positioning variants */
    /* margin:-100px auto; */
    /* transform-origin: top; */

    /* display:grid;
    column-count:5; */
    /* grid variant : allegedly sufficient for masonry grid but no? */

    /* grid-template-columns: repeat(5,150px); */
    /* fixed grid variant */

    /* grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); */
    /* responsive grid variant */

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
     gap:15px;

}

.dummy-book:nth-child(even){
    height:200px;
    width: 150px;
    background-color:grey;
    
}
.dummy-book:nth-child(odd){
    height:170px;
    width: 150px;
    background-color:grey;

}

.card{
    height:200px;
    width: 150px;
}
#book-container{
    display:flex;
    padding:2vh 10vw;
    gap:10px;
    flex-wrap: wrap;
}
.card{
    position:relative;
    /* background-size:120px 170px;*/
}

.card div:first-child{
    /* title */
    text-transform:uppercase;
    font-size:21px;
    text-align: center;
    margin-top:5px;
    line-height: 1;
    height:2em;
}

.card div:nth-child(3){
    /* number of pages */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 12px;
    transform:rotateZ(-90deg);
    transform-origin: left;
    position: absolute;
    left:5px;
    top:125px;
    
}
.card div:nth-child(4){
    /* read status */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 12px;
    
    position:absolute;
    bottom:30%; 
    right:10px;
    /* height:42px; */
    width:min-content;
    color:var(--background-color);

}
.card div:nth-child(2){
    /* author */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    bottom:0;
    right:5px;
}
.img-div{
    margin:0 auto;
    /* position:absolute;
    top:20%;
    left:50%;
    margin-left:-60px; */
    height:130px;
    width:120px;
    /* background-repeat: no-repeat; */
    background-blend-mode:hard-light;
    background-size:cover;
}
.white-img{
    filter: invert(89%) sepia(0%) saturate(499%) hue-rotate(184deg) brightness(95%) contrast(108%);
}
.button-remove{
    position:absolute;
    right:5px;
    bottom:5%;
    background-color: transparent;
    border:none;
    box-shadow: none;
}
.button-remove::after{
    content:url(./resources/minus-circle.svg);
}
.button-remove:hover::after{
    content:url(./resources/minus-circle-red.svg);
    opacity:60%;
}
.button-read{
    position:absolute;
    right:5px;
    bottom:17%;
    background-color: transparent;
    border:none;
    box-shadow: none;
}
.button-read-add::after{
content:url(./resources/checkbox-add.svg);
}

.button-read-add:hover::after{
    content:url(./resources/checkbox-add-green.svg);
    opacity:80%;
}

.button-read-true::after{
content:url(./resources/checkbox-true.svg);
}
.button-read-true:hover{
    opacity:60%;
}