body{
    margin: 0;
    padding:0;
}
form{
    padding:20px;
    display:grid;
    justify-content: center;
    justify-items: end;
    gap:10px;
}

form input{
    width:25ch;
}
form button{
    width:90px;
}